In [1]:
import pandas as pd

In [2]:
file_path = 'RawDataAviation.csv'

data = pd.read_csv(file_path, delimiter=';')
data

,ID,Airports,Periods,CrossCountryFlights_1,LocalFlights_2,TotalFlights_3,Scheduled_4,NonScheduled_5,TotalArrivalsFlights_6,Scheduled_7,...,SouthAfrica_93,America_94,NorthAmerica_95,CentralAmerica_96,SouthAmerica_97,Asia_98,WestAsia_99,SouthEastAsia_100,NorthEastAsia_101,Oceania_102
0,0,A045844,1997JJ00,467579,206214,400118,364095,36023,200040,182043,...,.,.,.,.,.,.,.,.,.,.
1,1,A045844,1998JJ00,485852,201265,425608,387560,38048,212751,193792,...,.,.,.,.,.,.,.,.,.,.
2,2,A045844,1999MM01,36810,14868,33145,31222,1923,16565,15616,...,.,.,.,.,.,.,.,.,.,.
3,3,A045844,1999MM02,34356,11314,30912,29015,1897,15444,14513,...,.,.,.,.,.,.,.,.,.,.
4,4,A045844,1999MM03,41290,18152,35591,33278,2313,17802,16644,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,2515,A043593,2023MM05,1100,4939,126,0,126,56,0,...,0,0,0,0,0,0,0,0,0,0
2516,2516,A043593,2023MM06,1194,5484,126,0,126,64,0,...,0,0,0,0,0,0,0,0,0,0
2517,2517,A043593,2023KW02,3324,15193,313,0,313,150,0,...,0,0,0,0,0,0,0,0,0,0
2518,2518,A043593,2023MM07,1016,4229,126,0,126,62,0,...,0,0,0,0,0,0,0,0,0,0
2519,2519,A043593,2023MM08,1045,5272,157,0,157,73,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data.loc[ data['Airports'] == 'A045844', 'Airports'] = 'TOTAL'
data.loc[ data['Airports'] == 'A043590', 'Airports'] = 'Schiphol'
data.loc[ data['Airports'] == 'A043596', 'Airports'] = 'Rotterdam The Hague'
data.loc[ data['Airports'] == 'A043591', 'Airports'] = 'Eindhoven'
data.loc[ data['Airports'] == 'A043595', 'Airports'] = 'Maastricht Aachen'
data.loc[ data['Airports'] == 'A043593', 'Airports'] = 'Groningen'

In [5]:
data.set_index('ID')

,Airports,Periods,CrossCountryFlights_1,LocalFlights_2,TotalFlights_3,Scheduled_4,NonScheduled_5,TotalArrivalsFlights_6,Scheduled_7,NonScheduled_8,...,SouthAfrica_93,America_94,NorthAmerica_95,CentralAmerica_96,SouthAmerica_97,Asia_98,WestAsia_99,SouthEastAsia_100,NorthEastAsia_101,Oceania_102
ID,,,,,,,,,,,,,,,,,,,,,
0,TOTAL,1997JJ00,467579,206214,400118,364095,36023,200040,182043,17997,...,.,.,.,.,.,.,.,.,.,.
1,TOTAL,1998JJ00,485852,201265,425608,387560,38048,212751,193792,18959,...,.,.,.,.,.,.,.,.,.,.
2,TOTAL,1999MM01,36810,14868,33145,31222,1923,16565,15616,949,...,.,.,.,.,.,.,.,.,.,.
3,TOTAL,1999MM02,34356,11314,30912,29015,1897,15444,14513,931,...,.,.,.,.,.,.,.,.,.,.
4,TOTAL,1999MM03,41290,18152,35591,33278,2313,17802,16644,1158,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,Groningen,2023MM05,1100,4939,126,0,126,56,0,56,...,0,0,0,0,0,0,0,0,0,0
2516,Groningen,2023MM06,1194,5484,126,0,126,64,0,64,...,0,0,0,0,0,0,0,0,0,0
2517,Groningen,2023KW02,3324,15193,313,0,313,150,0,150,...,0,0,0,0,0,0,0,0,0,0
2518,Groningen,2023MM07,1016,4229,126,0,126,62,0,62,...,0,0,0,0,0,0,0,0,0,0
2519,Groningen,2023MM08,1045,5272,157,0,157,73,0,73,...,0,0,0,0,0,0,0,0,0,0