In [36]:
import pandas as pd
import plotly.express as px

In [3]:
file_path = 'RawDataAviation.csv'

data = pd.read_csv(file_path, delimiter=';')
data

,ID,Airports,Periods,CrossCountryFlights_1,LocalFlights_2,TotalFlights_3,Scheduled_4,NonScheduled_5,TotalArrivalsFlights_6,Scheduled_7,...,SouthAfrica_93,America_94,NorthAmerica_95,CentralAmerica_96,SouthAmerica_97,Asia_98,WestAsia_99,SouthEastAsia_100,NorthEastAsia_101,Oceania_102
0,0,A045844,1997JJ00,467579,206214,400118,364095,36023,200040,182043,...,.,.,.,.,.,.,.,.,.,.
1,1,A045844,1998JJ00,485852,201265,425608,387560,38048,212751,193792,...,.,.,.,.,.,.,.,.,.,.
2,2,A045844,1999MM01,36810,14868,33145,31222,1923,16565,15616,...,.,.,.,.,.,.,.,.,.,.
3,3,A045844,1999MM02,34356,11314,30912,29015,1897,15444,14513,...,.,.,.,.,.,.,.,.,.,.
4,4,A045844,1999MM03,41290,18152,35591,33278,2313,17802,16644,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,2515,A043593,2023MM05,1100,4939,126,0,126,56,0,...,0,0,0,0,0,0,0,0,0,0
2516,2516,A043593,2023MM06,1194,5484,126,0,126,64,0,...,0,0,0,0,0,0,0,0,0,0
2517,2517,A043593,2023KW02,3324,15193,313,0,313,150,0,...,0,0,0,0,0,0,0,0,0,0
2518,2518,A043593,2023MM07,1016,4229,126,0,126,62,0,...,0,0,0,0,0,0,0,0,0,0
2519,2519,A043593,2023MM08,1045,5272,157,0,157,73,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.loc[ data['Airports'] == 'A045844', 'Airports'] = 'TOTAL'
data.loc[ data['Airports'] == 'A043590', 'Airports'] = 'Schiphol'
data.loc[ data['Airports'] == 'A043596', 'Airports'] = 'Rotterdam The Hague'
data.loc[ data['Airports'] == 'A043591', 'Airports'] = 'Eindhoven'
data.loc[ data['Airports'] == 'A043595', 'Airports'] = 'Maastricht Aachen'
data.loc[ data['Airports'] == 'A043593', 'Airports'] = 'Groningen'

In [5]:
data.set_index('ID')

,Airports,Periods,CrossCountryFlights_1,LocalFlights_2,TotalFlights_3,Scheduled_4,NonScheduled_5,TotalArrivalsFlights_6,Scheduled_7,NonScheduled_8,...,SouthAfrica_93,America_94,NorthAmerica_95,CentralAmerica_96,SouthAmerica_97,Asia_98,WestAsia_99,SouthEastAsia_100,NorthEastAsia_101,Oceania_102
ID,,,,,,,,,,,,,,,,,,,,,
0,TOTAL,1997JJ00,467579,206214,400118,364095,36023,200040,182043,17997,...,.,.,.,.,.,.,.,.,.,.
1,TOTAL,1998JJ00,485852,201265,425608,387560,38048,212751,193792,18959,...,.,.,.,.,.,.,.,.,.,.
2,TOTAL,1999MM01,36810,14868,33145,31222,1923,16565,15616,949,...,.,.,.,.,.,.,.,.,.,.
3,TOTAL,1999MM02,34356,11314,30912,29015,1897,15444,14513,931,...,.,.,.,.,.,.,.,.,.,.
4,TOTAL,1999MM03,41290,18152,35591,33278,2313,17802,16644,1158,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,Groningen,2023MM05,1100,4939,126,0,126,56,0,56,...,0,0,0,0,0,0,0,0,0,0
2516,Groningen,2023MM06,1194,5484,126,0,126,64,0,64,...,0,0,0,0,0,0,0,0,0,0
2517,Groningen,2023KW02,3324,15193,313,0,313,150,0,150,...,0,0,0,0,0,0,0,0,0,0
2518,Groningen,2023MM07,1016,4229,126,0,126,62,0,62,...,0,0,0,0,0,0,0,0,0,0
2519,Groningen,2023MM08,1045,5272,157,0,157,73,0,73,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data.loc[data['Periods'] == '2019MM01']

,ID,Airports,Periods,CrossCountryFlights_1,LocalFlights_2,TotalFlights_3,Scheduled_4,NonScheduled_5,TotalArrivalsFlights_6,Scheduled_7,...,SouthAfrica_93,America_94,NorthAmerica_95,CentralAmerica_96,SouthAmerica_97,Asia_98,WestAsia_99,SouthEastAsia_100,NorthEastAsia_101,Oceania_102
342,342,TOTAL,2019MM01,43492,3547,41285,40217,1068,20634,20102,...,2,589,380,50,159,444,95,97,252,0
762,762,Schiphol,2019MM01,38009,515,37185,36490,695,18588,18241,...,2,589,380,50,159,444,95,97,252,0
1182,1182,Rotterdam The Hague,2019MM01,1607,1408,938,789,149,471,396,...,0,0,0,0,0,0,0,0,0,0
1602,1602,Eindhoven,2019MM01,2694,0,2579,2489,90,1289,1242,...,0,0,0,0,0,0,0,0,0,0
2022,2022,Maastricht Aachen,2019MM01,631,178,413,346,67,202,171,...,0,0,0,0,0,0,0,0,0,0
2442,2442,Groningen,2019MM01,551,1446,170,103,67,84,52,...,0,0,0,0,0,0,0,0,0,0

In [33]:
data_2019 = data.loc[data['Periods'].str.contains('2019MM', case=False)]

In [34]:
data_2019

,ID,Airports,Periods,CrossCountryFlights_1,LocalFlights_2,TotalFlights_3,Scheduled_4,NonScheduled_5,TotalArrivalsFlights_6,Scheduled_7,...,SouthAfrica_93,America_94,NorthAmerica_95,CentralAmerica_96,SouthAmerica_97,Asia_98,WestAsia_99,SouthEastAsia_100,NorthEastAsia_101,Oceania_102
342,342,TOTAL,2019MM01,43492,3547,41285,40217,1068,20634,20102,...,2,589,380,50,159,444,95,97,252,0
343,343,TOTAL,2019MM02,41972,3564,39204,38408,796,19595,19196,...,4,527,339,45,143,395,93,70,231,0
344,344,TOTAL,2019MM03,47712,3992,44649,43828,821,22326,21915,...,5,494,293,49,152,628,98,134,397,0
346,346,TOTAL,2019MM04,51400,4990,47934,46845,1089,23965,23363,...,5,490,301,50,139,579,88,106,385,0
347,347,TOTAL,2019MM05,55561,4923,51719,50253,1466,25851,25132,...,6,476,284,53,139,691,94,174,423,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451,2451,Groningen,2019MM08,932,1832,260,116,144,132,58,...,0,0,0,0,0,0,0,0,0,0
2452,2452,Groningen,2019MM09,989,2302,409,261,148,203,130,...,0,0,0,0,0,0,0,0,0,0
2454,2454,Groningen,2019MM10,1147,2620,376,262,114,187,131,...,0,0,0,0,0,0,0,0,0,0
2455,2455,Groningen,2019MM11,712,1547,280,244,36,139,122,...,0,0,0,0,0,0,0,0,0,0
2456,2456,Groningen,2019MM12,641,1173,219,178,41,111,89,...,0,0,0,0,0,0,0,0,0,0

In [38]:
data_2019 = px.data.gapminder()
fig = px.line(data_2019, x = 'Periods', y = 'TotalFlights_3', color = 'Airports')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap', 'iso_alpha', 'iso_num'] but received: Periods